
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

.card{
    position: absolute;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    justify-content: space-between;
    width: 60%;
    left: 20%;
    top: 30%;
    background-color: white;
    animation: cardEnter 2.5s ease-in;
}
img{
    width: 250px;
    height: 150px;
}
.form-title{
    font-size: 20px;
    font-weight: bold;
    

}
.form-field{
    font-weight: bold;
}
.btn{
    height: 50px;
    width: 100px;
    
}
.submit{
    position: absolute;
    top:80%;
    left: 40%;
}
.btn-primary{
    cursor: pointer;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease-in;
    box-shadow: 0 8px 12px 0  rgba(0,0,0,0.2);


}
.btn-primary:hover{
    background-color: rgb(167, 10, 41);
}
.form-details{
    padding: 0px 20px;
}
.btn-primary:active{
    transform: translateY(2px);
}
.topbar{
    background-color: crimson;
    height: 50px;
}
.background{
    display: flex;
    background-color: crimson;
    height:600px;
    transform:skewY(2deg)
}
.header{
    position: absolute;
    top: 10%;
    padding: 0% 10%;
    color: white;
}
.hide{
    height: 120px;
    width: 665px;
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: crimson;
}
@keyframes cardEnter {
    0%{
        transform: translateY(-200%);
        
    }
    100%{
        transform: translateY(0%);

    }

    
}
.harder{
    color: crimson;
}
.details{
    padding: 0px 40%;
}